html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    background-color: black;
}

.korijen{
    height: 100%;
    display: flex;
}

.lijeva-strana{
    width: 300px;
    height: 100%;
    background-color: white;

}

.desna-strana{
    flex-grow: 1;
    height: 100%;
    padding: 25px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

    
      
}
.desna-strana-srednji-dio-lijevo{
    width: 50%;
    height: 100%;
    color: rgb(13, 215, 30);
    display: flex; 
    align-items: center;
   
}

.desna-strana-srednji-dio-desno{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    width: 200px;
}
.desna-strana-gornji-dio{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
.menu-dugme{
    width: 100px;
    background-color: white;
    color: black;
    border-radius: 50% ;
}

.desna-strana-srednji-dio{
    flex-grow: 1;
    width: 100%;
    display: flex;
  
}

.desna-strana-donji-dio{
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}


.lijeva-strana-gornji{
    /* margin: 10px; */
    width: 100%;
    height: 50%;
    background-color: white;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    font-weight: bold;
}
.donji{
    height: 50% ;
    width: 100%;
    background-color:thistle;
    display: flex;
    font-size: 35px;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    
}
.ikonfb{
    width: 50px;
    height: 50px ;
}

.ikonefb{
    display: flex;
    gap: 20px;
}