.sekcija{
    background-color: red;
    height: 50px;
}

.druga-sekcija{
    height: 25px;
    background-color: yellow;
}

.treca-sekcija{
    height: 25px;
    width: 100px;
    display: inline-block;
    background-color: green;
}